<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">

  <!-- Mathjax -->
  <script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function(){
      function stripcdata(x) {
        if (x.startsWith('% <![CDATA[') && x.endsWith('%]]>'))
          return x.substring(11,x.length-4);
        return x;
      }
      document.querySelectorAll("script[type='math/tex']").forEach(function(el){
        el.outerHTML = "\\(" + stripcdata(el.textContent) + "\\)";
      });
      document.querySelectorAll("script[type='math/tex; mode=display']").forEach(function(el){
        el.outerHTML = "\\[" + stripcdata(el.textContent) + "\\]";
      });
      var script = document.createElement('script');
      script.src = "https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js";
      document.head.appendChild(script);
    }, false);
  </script>
</head>
